/* Changeover week tag */
.week-changeover {
  background: white;
  display: flex;
}

.week-changeover__inner {
  border-top-right-radius: 20px;
  background: white;
  flex: 1;
}

/* Changeover week alt */
.week-changeover--alt {
  background: #f3f3f3;
}

.week-changeover__inner--alt {
  background: #f3f3f3;
}

/* Week spacers */
.week-spacer {
  background: #f3f3f3;
}
.week-spacer--alt {
  background: white;
}

/* Month tag */
.month-tag {
  text-align: center;
  line-height: 100px;
  font-size: 1.1em;
}