.calendar-month {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  position: relative;
}

.calendar-month--scrolling {
  opacity: 0.5;
}

.calendar-month--scroll-content {
  position: absolute;
  width: 100%;
  height: 20px;
  line-height: 20px;
  top: calc(50% - 10px);
  left: 0;
  text-align: center;
  font-size: 3em;
}
